<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="modulename" value="FootbalMatchesBetting" />
  <variable name="logFileName" value="${basedir}/../../Logs/${date:format=yyyy-MM-dd}_${modulename}.log" />
  <variable name="layoutPrefix" value="${date:format=HH\:mm\:ss}" />
  <variable name="layoutConsoleSuffix" value="[${level}] : [${message}] | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
  <variable name="layoutFileSuffix" value="[${level}] : [${message} ]         //[${logger}] [${stacktrace}] | ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" layout="${layoutPrefix} ${layoutConsoleSuffix}" />
    <target name="file" xsi:type="File" fileName="${logFileName}" layout="${layoutPrefix} | ${layoutFileSuffix}" enableFileDelete="true" archiveEvery="Day" maxArchiveFiles="390" />
    <target name="LogsMonitorNetwork" xsi:type="Network" address="udp://localhost:7071" layout="${level}|${layoutPrefix} [${logger}] ${layoutConsoleSuffix}" />
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
              uri="http://10.10.10.204:9200/"
              layout="${message}"
              index="${modulename}-${level}-${date:format=yyyy.MM.dd}"
              includeAllProperties="true"
              documentType="application-nlog">
        <field name="app_env" layout="dev"/>
        <field name="app_name" layout="${modulename}"/>
        <field name="logger" layout="${logger}" />
        <field name="mdlc" layoutType="System.Object">
          <layout xsi:type="JsonLayout" includeMdlc="true" />
        </field>
        <field name="user" layout="${windows-identity:userName=True:domain=False}"/>
        <field name="host" layout="${machinename}"/>
        <field name="ErrorSource" layout="${exception-data:format=source}" />
        <field name="StackTrace" layout="${exception-data:format=stacktrace}" />
        <field name="ErrorMethod" layout="${exception-data:format=method}" />
        <field name="ErrorMessage" layout="${exception-data:format=message}" />
        <field name="InnerErrorMessage" layout="${exception-data:format=innerexceptionmessage}" />
        <field name="threadId" layout="${threadid}"/>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="FootballMatchesBetting.*" minlevel="Trace" writeTo="console,file,elastic" />
  </rules>
</nlog>